<!DOCTYPE>
<html>
    <head>

    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <img src='https://www.gophersport.com/cmsstatic/img/834/G-45570-RainbowStrikerRubberBowlingBalls-clean.jpg'>
        <p>97 Bowling Alley Lane, Boulder CO </p>
        
    </body>
</html>